<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.league.soccer_app.repository.PlayerRepository">
    <insert id="insertPlayer" parameterType="PlayerModel" >
        INSERT INTO Player(
            name,
            age,
            tall,
            position,
            teamId
        )
        values(
            #{name},
            #{age},
            #{tall},
            #{position},
            #{teamId}
        )
    </insert>
</mapper>
